html, body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-family: 'Kumbh Sans', sans-serif;
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    max-width: 1440px;
    border: none;
    padding: 90px 150px;
    background: linear-gradient(hsl(273, 75%, 66%, 1.0), hsl(240, 73%, 65%, 1.0));
}

.content-container {
    display: flex;
    align-items: center;
    gap: 3rem;
    background-color: white;
    border-radius: 15px;
    padding: 30px;
    max-width: 80%;
}

img-container {
    display: flex;
    align-items: center;
}

.faq-container {
    margin-right: 40px;
    width: 400px;
}

h1 {
    font-weight: 700;
    margin-left: 15px;
}


.acc-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 3rem;
}

.accordion {
    border: none;
    cursor: pointer;
    color: hsl(238, 29%, 16%);
    padding: 15px;
    width: 100%;
    text-align: left;
    outline: none;
    transition: 0.4s;
    font-family: 'Kumbh Sans', sans-serif;
    font-weight: 400;
    background-color: transparent;
    font-size: 12px;
}

.accordion:hover {
    color: hsl(14, 88%, 65%);
}

.active {
    font-weight: bold;
}

.panel {
    display: none;
    overflow: hidden;
    padding: 15px;
    font-size: 12px;
    font-family: 'Kumbh Sans', sans-serif;
    color: hsl(240, 6%, 50%);
}

.divider {
    border-bottom: 1px solid hsl(240, 5%, 91%);
}

.woman-img {

}

.box-img {

}

.attribution { 
    font-size: 11px; text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}